body {
  font-size: large;
  font-family: "Courier New", Courier, monospace;
  background-color: black;
  color: white;
}

p {
  border: white;
  display: flex;
  justify-content: center;
}

.text1 {
  border: 2px solid white;
  position: absolute;
  padding: 20px 20px;
  top: 20px;
  left: 20px;
  color: white;
}
img {
  max-width: 800px;
  max-height: 800px;
}

.text2 {
  border: 2px solid white;
  position: absolute;
  padding: 20px 20px;
  top: 400px;
  left: 200px;
  color: white;
}

.text3 {
  border: 2px solid white;
  position: absolute;
  padding: 20px 20px;
  top: 750px;
  left: 100px;
  color: white;
}

.text4 {
  border: 2px solid white;
  position: absolute;
  padding: 20px 20px;
  top: 20px;
  left: 1300px;
  color: white;
}

.text5 {
  border: 2px solid white;
  position: absolute;
  padding: 40px 30px;
  top: 400px;
  left: 1200px;
  color: white;
}

.text6 {
  border: 2px solid white;
  position: absolute;
  padding: 20px 60px;
  top: 720px;
  left: 1200px;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}
