main {
    background-color: antiquewhite

}

p { 
    background-color: lightskyblue;
    border: 1px solid #999;
    padding: 50px;
    margin: 10px 0;
    font-family: 'Courier New', Courier, monospace;
}



img {
    max-width: 550px;
    max-height: 500px;
}

