body {
  display: block;
  height: auto;
  color: purple;
  background-color: white;
}

#about {
  margin-left: 50%; /* adjust as needed */
  position: absolute;
  top: 30%;
}

#about h1 {
  font-size: 2em; /* adjust as needed */
  white-space: nowrap;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#about p {
  font-size: 1em; /* adjust as needed */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 400px;
}

#navbar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 60px;
  background-color: white;
}

#navbar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#navbar ul li a {
  display: block;
  text-decoration: none;
  color: purple;
  padding: 10px;
}

/* Media Queries */
@media screen and (max-width: 600px) {
  #navbar {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
  }
}
img {
  position: absolute;
  top: 18%;
  left: 20%;
  height: 500px;
}

.bio-container {
  display: flex;
  height: 500px;
  justify-content: space-around;
  align-items: center;
}
