body {
    background-color: beige;
    font-family: 'Assistant', sans-serif;
}

main {
    border: solid 10px pink;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 100px;
}


p {
    background-color: yellow;
    padding: 4px;
    margin: 100px;

}