.container {
  display: grid;
  height: 800px;
  grid-template-rows: repeat(2, 100px);
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-content: space-between;
  /* grid-gap: 20px 20px; */
  /* grid-template-areas:
    "header header"
    "main aside"
    "footer footer"; */
}

/* .item1 {
  grid-area: header;
}

.item2 {
  grid-area: main;
  z-index: 1;
}

.item3 {
  grid-area: aside;
} */
/* 
.item4 {
  grid-area: footer;
  justify-self: center;
  align-self: stretch;
} */
